button {
    color:rgb(255, 255, 255);
    background-color: green;
    padding: 10px 10px;
}
@media (min-width:576px) {
    button {
        border-radius: 15px;
    }
    
}
@media (min-width:768px) {
    button {
        border-radius: 15px;
    }
    button {
        color: rgb(246, 255, 0);
    }
    
}
@media (min-width:992px) {
    button {
        display: none;
    }
    
}