p {
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: #749c2c;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width:576px) {
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media (min-width:768px) {
    .grid {
        grid-template-columns: repeat(4,1fr);
    }
    
}